@font-face {
  font-family: 'clearsans';
  src: url('static/fonts/clearsans/ClearSans-Medium.eot');
  src: url('static/fonts/clearsans/ClearSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('static/fonts/clearsans/ClearSans-Medium.woff') format('woff'), /* Pretty Modern Browsers */ url('static/fonts/clearsans/ClearSans-Medium.ttf') format('truetype'), /* Safari, Android, iOS */ url('static/fonts/clearsans/ClearSans-Medium.svg') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'aleo';
  src: url('static/fonts/clearsans/ClearSans-Medium.eot');
  src: url('static/fonts/clearsans/ClearSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('static/fonts/clearsans/ClearSans-Medium.eot.woff') format('woff'), /* Pretty Modern Browsers */ url('static/fonts/clearsans/ClearSans-Medium.eot.ttf') format('truetype'), /* Safari, Android, iOS */ url('static/fonts/clearsans/ClearSans-Medium.svg') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
@font-face {
  font-family: 'norwester';
  src: url('static/fonts/norwester/norwester.eot');
  src: url('static/fonts/norwester/norwester.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('static/fonts/norwester/norwester.woff') format('woff'), /* Pretty Modern Browsers */ url('static/fonts/norwester/norwester.ttf') format('truetype'), /* Safari, Android, iOS */ url('static/fonts/norwester/norwester.svg') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
.cbc {
  font-family: 'clearsans', Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #7eaeda;
  color: #333333;
}
.cbc .cbc-wrapper {
  width: 50%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cbc .cbc-wrapper .cbc-title {
  font-size: 3em;
  margin: 0.2em 0;
  text-align: center;
}
.cbc .cbc-wrapper .cbc-mailto {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #333333;
}
